.cmssection-form .form-check .form-check-label {
    width: auto;
    max-width: 100%;
    white-space: nowrap;
}

.cmssection-form .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
}

#cmssection-quill-description .ql-editor {
    min-height: 200px;
}
