 <!-- Footer Start -->
<style>
    .footer-icon li a {
        color: #161c2d !important;
        border: 1px solid #161c2d;
        background-color: white !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        font-size: 14px;
        width: 32px;
        transition: all 0.4s ease;
        overflow: hidden;
        position: relative;
    }
</style>
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <a href="#" class="logo-footer">
                    <img src="~/assets/public/images/logo-light.png" height="84" alt="">
                </a>
                <p class="mt-4 text-white-50">
                    A first Nation Group <br />
                    of Companies
                </p>
            </div>

            <div class="col-lg-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <ul class="list-unstyled footer-list">
                    <li class="fs-6"><i class="mdi mdi-phone me-2"></i> +61 (2) 9134 5390</li>
                    <li class="fs-6"><i class="mdi mdi-email me-2"></i> info@nallawilli.com</li>
                    <li class="fs-6"><i class="mdi mdi-map-marker me-2"></i> Suite 318 20 Dale Street Brookvale, Sydney, NSW 2100, Australia</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->

<footer class="footer footer-bar bg-light border-top">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-9">
                <div class="text-lg-start text-dark">
                    <p class="mb-0">
                        © <script>
                              document.write(new Date().getFullYear())
                        </script> 2026 Nallawilligroup - All Rights Reserved
                    </p>
                </div>
            </div>
            <div class="col-lg-3 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <ul class="list-unstyled footer-icon social mb-0 text-lg-start">
                    <li class="list-inline-item mb-0">
                        <a href="#" class="rounded icon-sm">
                            <i data-feather="linkedin" class="fea icon-sm"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a href="#" class="rounded icon-sm">
                            <i data-feather="facebook" class="fea icon-sm"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mb-0">
                        <a href="#" class="rounded icon-sm">
                            <i data-feather="instagram" class="fea icon-sm"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>