
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "Nallawilli" : $"{ViewData["Title"]} - Nallawilli")</title>
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="author" content="Shreethemes" />
    <meta name="website" content="https://shreethemes.in/" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="version" content="1.0.0" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/assets/public/images/favicon-dark.png">
    <!-- BOOTSTRAP -->
    <link href="~/assets/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- ICON -->
    <link href="~/assets/public/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/assets/public/css/line.css" rel="stylesheet">
    <!-- SLIDER-->
    <link rel="stylesheet" href="~/assets/public/css/tiny-slider.css" type="text/css">
    <link rel="stylesheet" href="~/assets/public/css/tobii.min.css">
    <!-- Custom Css -->
    <link href="~/assets/public/css/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/public/css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

<body>
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>
    </div> -->
    <!-- Navbar STart -->

    <partial name="_Header" />
   
    @RenderBody()

    <partial name="_Footer" />

    <!-- Footer End -->
    <!-- Style switcher -->
    <div id="style-switcher" class="bg-light border p-3 pt-2 pb-2" onclick="toggleSwitcher()">
        <div>
            <h6 class="title text-center">Select Your Color</h6>
            <ul class="pattern">
                <li class="list-inline-item">
                    <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color2" href="javascript: void(0);" onclick="setColor('blue')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color3" href="javascript: void(0);" onclick="setColor('yellow')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color4" href="javascript: void(0);" onclick="setColor('dark-pink')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color5" href="javascript: void(0);" onclick="setColor('orange')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color6" href="javascript: void(0);" onclick="setColor('brown')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color7" href="javascript: void(0);" onclick="setColor('green')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color8" href="javascript: void(0);" onclick="setColor('purple')"></a>
                </li>
                <li class="list-inline-item">
                    <a class="color9" href="javascript: void(0);" onclick="setColor('firozi')"></a>
                </li>
            </ul>
        </div>
        <div class="bottom">
            <a href="javascript: void(0);" class="settings bg-white shadow d-block">
                <i class="mdi mdi-cog ms-1 mdi-24px position-absolute mdi-spin text-primary"></i>
            </a>
        </div>
    </div>
    <!-- end Style switcher -->
    
    <!-- Back to top -->
    <a href="#" class="back-to-top rounded-pill text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->
    <!-- javascript -->
    <script src="~/assets/public/js/bootstrap.bundle.min.js"></script>
    <!-- SLIDER -->
    <script src="~/assets/public/js/tiny-slider.js"></script>
    <script src="~/assets/public/js/tiny-slider-init.js"></script>
    <!-- play-btn -->
    <script src="~/assets/public/js/tobii.min.js"></script>
    <!-- PARALLAX -->
    <script src="~/assets/public/js/parallax.js"></script>
    <!-- BACKGROUND -->
    <script src="~/assets/public/js/easy_background.js"></script>
    <!-- Switcher -->
    <script src="~/assets/public/js/switcher.js"></script>
    <script src="~/assets/public/js/feather.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/public/js/plugins.init.js"></script>
    <script src="~/assets/public/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>