
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "Sign in" : $"{ViewData["Title"]} - Nallawilli")</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/admin/images/logo/favicon-white.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/admin/css/bootstrap.min.css">
    <!-- file upload -->
    <link rel="stylesheet" href="~/assets/admin/css/file-upload.css">
    <!-- file upload -->
    <link rel="stylesheet" href="~/assets/admin/css/plyr.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <!-- full calendar -->
    <link rel="stylesheet" href="~/assets/admin/css/full-calendar.css">
    <!-- jquery Ui -->
    <link rel="stylesheet" href="~/assets/admin/css/jquery-ui.css">
    <!-- editor quill Ui -->
    <link rel="stylesheet" href="~/assets/admin/css/editor-quill.css">
    <!-- apex charts Css -->
    <link rel="stylesheet" href="~/assets/admin/css/apexcharts.css">
    <!-- calendar Css -->
    <link rel="stylesheet" href="~/assets/admin/css/calendar.css">
    <!-- jvector map Css -->
    <link rel="stylesheet" href="~/assets/admin/css/jquery-jvectormap-2.0.5.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/admin/css/main.css">
</head>
<body>
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div class="side-overlay"></div>

    @RenderBody()

    <!-- Jquery js -->
    <script src="~/assets/admin/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="~/assets/admin/js/boostrap.bundle.min.js"></script>
    <!-- Phosphor Js -->
    <script src="~/assets/admin/js/phosphor-icon.js"></script>
    <!-- file upload -->
    <script src="~/assets/admin/js/file-upload.js"></script>
    <!-- file upload -->
    <script src="~/assets/admin/js/plyr.js"></script>
    <!-- dataTables -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <!-- full calendar -->
    <script src="~/assets/admin/js/full-calendar.js"></script>
    <!-- jQuery UI -->
    <script src="~/assets/admin/js/jquery-ui.js"></script>
    <!-- jQuery UI -->
    <script src="~/assets/admin/js/editor-quill.js"></script>
    <!-- apex charts -->
    <script src="~/assets/admin/js/apexcharts.min.js"></script>
    <!-- Calendar Js -->
    <script src="~/assets/admin/js/calendar.js"></script>
    <!-- jvectormap Js -->
    <script src="~/assets/admin/js/jquery-jvectormap-2.0.5.min.js"></script>
    <!-- jvectormap world Js -->
    <script src="~/assets/admin/js/jquery-jvectormap-world-mill-en.js"></script>

    <!-- main js -->
    <script src="~/assets/admin/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>